
@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@1,300&family=Roboto:wght@300&display=swap&effect=shadow-multiple');

/* Reseting all elements */
*
{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;

}
body
{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
}

/* Creating header bar */
.header
{
    display: flex;
    position: sticky;
    top:0%;
    width: 100%;
    line-height: 50px;
    background-image: linear-gradient( 45deg,#82ccdd,rgb(232, 70, 97));
    justify-content: space-around;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
}
.header label
{
 
    color:white;
    font-size: 1.2rem;
    font-weight: 400;
}

.header .search-box
{
    display:flex;
    min-width: 70%;
    align-items: center;
    justify-content: center;
}

.header .search-box input
{
    height: 30px;
    width:100%;
    outline: none;
    margin-right:6px;
    border:none;
    border-radius: 5px;
    padding-left: 20px;
    color: gray;
}

.header .search-box .search-icon
{
    font-size: 1rem;
    color:white;
}
.header .search-box .search-icon :hover
{
    color: yellow;
}
.header .signin i
{
    font-size: 1rem;
    color:white;
}
.header .signin i:hover
{
    color: yellow;
}
.header .Whishlist i
{
    font-size: 1rem;
    color:white;
    cursor: pointer;
}
.header .Whishlist i:hover
{
    color: yellow;
}
.header .Addtocart
{
    position: relative;
}
.header .Addtocart i
{
    position: relative;
    font-size: 1rem;
    color:white;
    margin-right: 10px;
    cursor: pointer;
}
.header .Addtocart i:hover
{
    color: yellow;
}
.header .Addtocart::before
{
    position: absolute;
    content: attr(data-count);
    top: 3px;
    right:0px;
    width: 4px;
    height: 4px;
    background-color: white;
    padding: 4px;
    border-radius: 50px;
}
.header .Addtocart .counter
{
    position: absolute;
    font-size: 0.5rem;
    top: -15px;
    right:3px;
}
.addedtocart
{
    position: absolute;
    display: none;
    bottom: 0;
    right: -12px;
    width: 120px;
    background-color: greenyellow;
    line-height: 18px;
    color:white;
    /* transition: right 5s ease; */
}
.Whishlist
{
    position: relative;
}
.header .Whishlist .wishlistcounter
{
    position: absolute;
    font-size: 0.5rem;
    top: -15px;
    right:-5px;
}
.header .Whishlist::before
{
    position: absolute;
    content: attr(data-count);
    top: 3px;
    right:-7px;
    width: 4px;
    height: 4px;
    background-color: white;
    padding: 4px;
    border-radius: 50px;
}

.addedtowishlist
{
    position: absolute;
    display: none;
    bottom: 0;
    right: -80px;
    width: 150px;
    background-color: greenyellow;
    line-height: 18px;
    color:white;
    /* transition: right 5s ease; */
}
.header .bars
{
    display: none;
    color:white;
}

.header .bars:hover
{
    color:yellow;
}
/* Creating navigation menu */
.navigation
{
    display: flex;
    position: sticky;
    top: 50px;
    width:100%;
    line-height: 40px;
    z-index: 10;
    background-color: #6a89cc;
}

.navigation ul{
    display: flex;
    list-style: none;
}
.navigation .bars{
    color: white;
    margin: 0 10px;
}
.navigation .bars a{
    padding: 5px;
    border:2px solid transparent;
}
.navigation .bars a:hover
{
    border:2px solid white;

}

.navigation nav ul li a{
    padding: 5px;
    color: white;
    margin: 0 5px;
    width:10px;
    border:2px solid transparent;
    box-sizing: border-box;
}
.navigation nav ul li a:hover{
    border:2px solid white;
}
/* Creating hamburger menu  */
.side-bars
{
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    min-width: 250px;
    background-color:ghostwhite;
    transition: 0.5s ease;
    z-index: 100000;
}
.side-bars .side-bars-container
{
    position: absolute;
    width: 100%;
    top:30px;
    left:0;
}
.side-containers{
    background-color: white;
    margin-top: 5px;
}
.side-bars .side-bars-container ul
{
    list-style: none;
}
.side-bars .side-bars-container ul li
{
    margin-top: 10px;
    padding: 5px;
    transition: all 0.2s linear;

}
.side-bars ul ul li a
{
    color: rgba(0, 0, 0, 0.6);
}
.side-bars .side-bars-container .sidemenu-heading
{
    font-size: 1rem;
    color: black;
    margin: 30px;
    font-weight: bold;
}

.side-bars .side-bars-container .sidemenu-items
{
    color: rgba(0, 0, 0, 0.6);
    margin: 30px;
}
.side-bars .side-bars-container ul li:hover
{
    background-color: rgb(217, 217, 232);
}
.side-bars .sidemenudrop-items
{
    margin: 60px 40px;
    border-radius: 3px;
}
.side-bars ul ul 
{
    transition: all 5s;
    display: none;
}

.side-bars ul li:hover > ul
{
    background-color: ghostwhite;
    display: block;
}
.side-bars .closebtn
{
    position: absolute;
    right: 0;
    top:0;
    margin: 10px;
    font-size: 1.2rem;
}
/* Creating home page */
.item-section
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px 0;
    font-size: 1rem;
}
.section-title
{
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}
.home
{
    display: flex;
    width: calc(96%/4);
    height: auto;
    /* margin:0px auto; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    text-transform: capitalize;
    margin-top: 10px;
    transition: all 0.2s;
}
.home-item
{
    display:flex;
    width:calc(90%/2);
    height: calc(90%/2);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.home-itemimage
{
    width:100%;
    height:100px;
    margin-bottom: 5px;
    object-fit: cover;
    object-position: center;
}
.home-itemimage img{
    width:100%;
    height:100%;
}
.home-itemtitle
{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    margin-bottom: 4px;
    font-weight: bolder;
}
/* Designing products slider */
 .product-slider
 {
     position: relative;
    display: flex;
    width: 100%;
    height:440px;
    overflow: hidden;
    background-color: white;
    box-shadow: inset 2px 2px 8px #ddd;
    margin-top: 15px;
    flex-direction: column;
}
.product-slider .Product-category
{
    width:auto;
    margin: 0 auto;
    font-size: 1.8rem;
}

.product-slider .slider-items
{
    width: 95%;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px auto;
 }
 .product-slider .slider-items .Laptop
 {
     position: relative;
    flex: 1 1 300px;
    height: 370px;
    margin: 10px 10px ;
    font-size: 0.9rem;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    /* box-shadow: 2px 2px 2px black ; */
    border: 2px solid #ddd;
    border-radius: 5px;
}
.product-slider .Laptop ul
{
    list-style-position: inside;
    z-index: 100;
}   
.actions
{
    position: absolute;
    right: 8px;
    top: 30%;
}

.actions  li
{
    list-style: none;
    box-shadow: 2px 2px 2px black;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: rgb(232, 66, 99);
    transform: translateX(45px);
    transition: transform 0.1s;
    cursor: pointer;
    z-index: 2;
}
.product-slider .Laptop:hover .actions li
{
    transform: translateX(0px);
    z-index: 6;
}
.product-slider .Laptop .Laptop-image
{
    position: relative;
    width:100%;
    height:310px;
    background-color:white; 
}

.product-slider .Laptop .Laptop-image img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.actions  li:hover
{
    color: rgb(232, 66, 99);
    background: #f6f6f6;
}
.actions li:nth-child(2)
{
    transition-delay: 0.15s ;
}
.product-slider .Laptop .Laptop-details
{
    width: 100%;
    height: 160px;
    background-color:rgb(232, 66, 99);
    padding: 5px ;
    font-size: 0.7rem;
    box-sizing: border-box;
    color: white;
    z-index: 3;
    position:realtive;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.Laptop-details h3
{
    margin-bottom: 3px;
    text-align: center;
    font-size: 0.9rem;
    color:yellow;
}

.Laptop-details .price
{
    font-size: 1.2rem;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 0, 0.5);
    border-bottom: 2px solid rgba(255, 255, 0, 0.5);
}
.Laptop-details h3{
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.Laptop-details a
{
    transition: all 0.2s;
    position: absolute;
    bottom: -3px;
    right: 2px;
    color: white;
    font-size: 1rem;
    opacity:0;
}
.product-slider .Laptop:hover .Laptop-image
{
    height:210px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.product-slider .Laptop:hover .Laptop-details a
{
    opacity: 1;
}
#right-slider-btn,#left-slider-btn
{
     position: absolute;
     display: flex;
     width:40px;
     height:40px;
     background-color: rgb(241, 248, 248);
     justify-content: center;
     align-items: center;
     top:45%;
     font-size: 1.4rem;
     font-weight: bold;
     color: rgb(238, 49, 80);
     cursor: pointer;
     z-index: 7;
     
 }
    
 #left-slider-btn
 {
        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7) ;
        visibility: hidden;
        opacity:0.4;
        left: 0;
 }
#right-slider-btn
 {
        box-shadow: -3px 3px 2px rgba(0, 0, 0, 0.7) ;
        right: 0%;
        opacity:0.4;
 }
#right-slider-btn:hover
{
   opacity: 1;
}
#left-slider-btn:hover
 {
    opacity: 1;
}

li i.fa-shopping-cart{
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0%{
        /* font-size: 10px; */
        padding: 0px 0px;
    }
    50%{
        /* font-size: 15px; */
        padding: 3px 3px;
    }
    100%{
        /* font-size: 10px; */
        padding: 0px 0px;
    }
}

@media screen and (max-width:1350px)
{
    .product-slider .slider-items .Laptop
    {
        width: 380px;
    }
}

@media screen and (max-width:1250px)
{
    .home-itemtitle
    { 
        font-size: 0.7em;
    }
}
@media screen and (max-width:1100px)
{
    .section-title
    {
       font-size: 0.9em;
    }
}

@media screen and (max-width:1060px)
{
    .home-itemtitle
    { 
        font-size: 0.6em;
    }
}
@media screen and (max-width:1010px)
{
    .product-slider .slider-items .Laptop
    {
        min-width: 390px;
    }
}
@media screen and (max-width:985px)
{
    .home
    {
       width: 230px;
    }
}
@media screen and (max-width:940px)
{
    .home
    {
        width: calc(96%/4);
        font-size: 0.9rem;
    }
}
@media screen and (max-width:880px)
{
    .product-slider .slider-items .Laptop
    {
        min-width: 370px;
    }
}
@media screen and (max-width:840px)
{

    .product-slider .slider-items .Laptop
    {
        min-width: 335px;
    }
}

@media screen and (max-width:768px) 
{
    .home
    {
        width: calc(98%/2);
        font-size: 0.8rem;
    }

    .home-itemtitle
    { 
        font-size: 1em;
        font-weight: 900;
    }
    .product-slider
    {
        display: flex;
        align-items: flex-start;
    }
    #right-slider-btn,#left-slider-btn
    {
        display: none;
    }
    .product-slider .slider-items
    {
        overflow-x: auto;
        flex-direction: column;
        margin-top: 20px;
    }
    .product-slider .slider-items::-webkit-scrollbar{
        display: none;
    }
    .product-slider .slider-items .Laptop
    {
        min-width: 320px;
        max-width: 320px;
        margin:  0 5px ;
    }
}
@media screen and (max-width:750px) {
    .product-slider .slider-items
    {
        overflow-x: auto;
        flex-direction: column;
        margin-top: 20px;
    }
    
}


@media screen and (max-width:680px) {
    .product-slider
    {
        display: flex;
        align-items: flex-start;
    }
    #right-slider-btn,#left-slider-btn
    {
        display: none;
    }
    .product-slider .slider-items
    {
        overflow-x: auto;
        flex-direction: column;
        margin-top: 5px;
    }
    .product-slider .slider-items .Laptop
    {
        min-width: 340px;
        margin: 5px ;
    }
}

@media screen and (max-width:655px)
{
    .home
    {
        width: 300px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:595px)
{
    .home
    {
        width: 270px;
        font-size: 0.8rem;
    }
}
@media screen and (max-width:545px)
{
    .home
    {
        width: 250px;
        font-size: 0.8rem;
    }
}
@media screen and (max-width:505px) {
    .home
    {
        width: 100%;
        font-size: 0.8rem;
    }
    .product-slider .slider-items .Laptop
    {
        min-width: 300px;
        margin: 10px 5px;
    }
    .product-slider .Laptop .Laptop-image
    {
        height: 305px;
    }
    
}
@media screen and (max-width:460px){
    
    .home
    {
        width: 100%;
        font-size: 0.8rem;
    }
}
@media screen and (max-width:315px) {

    .product-slider .slider-items
    {
        margin-top:50px;
    }
    .product-slider .slider-items .Laptop
    {
        min-width: 240px;
        margin: 10px 0px;
        margin-left: 5px;
    }
    .home
    {
        width: 300px;
        font-size: 0.8rem;
    }
}
