
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,400;1,300;1,900&display=swap');

/* Reseting all elements */
*
{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;

}
body
{
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
}

/* desiging product page */
.product{
    display: flex;
    width: 100%;
    height: auto;
    margin: 10px 0px ; 
    background-color: white;
    position: relative;
}
.product-showing-area
{ 
    width: 50%;
    height: 530px;
    position: sticky;
    top:10px;
}
/* designing product photos */
.product-showing-area .pictures
{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin: 10px auto;
}
.product-showing-area .pictures .preview
{
    position: absolute;
    right:10px;
    width:75%;
    height: 100%;
}
.product-showing-area .pictures .preview img
{
    width:100%;
    height:100%;
    object-fit: contain;
    object-position: center;
}
.product-showing-area .picture-slider
{
    position: relative;
    display: flex;
    flex-direction: column;
    width:20%;
    height: 100%;
}
.product-showing-area .picture-slider .otherimage
{
    margin: 5px;
    height:calc(80%/4);
    width: 100%;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
.picture-slider img
{
    object-fit: contain;
    height:100%;
    width: 100%;
}
.product-details
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    margin-left: 20px;
    margin-right: 40px;

}
.product-title
{
    font-size: 1.8rem;
    font-weight: bold;
}
.product-rating
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
}
.product-price
{
    width:250px;
    height:100px;
    margin-top: 5px;
}

.product-price table
{
    border-collapse: collapse;
    margin-left: 5px;
}
.product-price table td:nth-child(odd)
{
     padding: 0px 2px;
}
.rating-stars
{ 
    color: orange;
}
.free-delivery
{
    color: #6a89cc;
}
.product-info
{
    width:240px;
    font-size: 0.9rem;
    text-align: left;
    margin: 10px 0;
}
.topic
{
    font-weight: bold;
}
.product-details h3{
    margin-top: 5px;
    font-size: medium;
}
.product-details ul
{
    margin-top: 5px;
    list-style-position: inside;
    width: 100%;
    font-size: 0.9rem;
}
.mobileaddtocartbtn
{
    display: none;
    width:95%;
    padding:8px;
    border-radius: 20px;
    margin:5px auto;
    background: linear-gradient(to right,rgb(255, 111, 0),yellow);
    font-weight: lighter;
}
.mobilebuynowbtn
{
    display: none;
    width:95%;
    padding:8px;
    border-radius: 20px;
    margin:5px auto;
    background: linear-gradient(to right,rgb(43, 255, 0),rgb(0, 153, 255));
    font-weight: lighter;
}
.buyingsection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width:15%;
    height:180px;
    right:10px;
    top:30%;
    border: 1px solid #ddd;
    border-radius: 3px;
    /* position:relative ; */
}
.selectquantity
{
    position: absolute;
    top:45px;  
}
.Addtocartbtn
{
    position: absolute;
    bottom:45px;
    width:95%;
    padding:6px;
    border-radius: 20px;
    margin:5px auto;
    background: linear-gradient(to right,rgb(255, 111, 0),yellow);
    font-weight: lighter;
}
.Addtocartbtn:hover
{
    background: linear-gradient(to right,yellow,rgb(255, 111, 0));
}

.buynowbtn
{
    position: absolute;
    bottom:5px;
    width:95%;
    padding:6px;
    border-radius: 20px;
    margin:5px auto;
    background: linear-gradient(to right,rgb(43, 255, 0),rgb(0, 153, 255));
    font-weight: lighter;
}
.buynowbtn:hover
{
    background: linear-gradient(to right,rgb(0, 153, 255),rgb(43, 255, 0));
}
.technical-details 
{
    text-align: center;
    max-width: 700px;
    margin-top: 30px;
    margin-left: 20px;
}
.technical-details h3
{
    border-bottom: 1px solid #ddd;
    margin:10px 0;
}
.technical-details table
{
    border-collapse: collapse;
}
.technical-details table tr{
    border-bottom: 1px solid #ddd;
}
.technical-details table td
{
    padding: 5px;
}
.technical-details table td:nth-child(odd)
{
    background-color: rgba(128, 128, 128, 0.515);
}



@media screen and (max-width:768px)
{
    .product
    {
        flex-direction: column;
    }
    .product-showing-area
    {
        width:100%;
        height: auto;
        margin-bottom: 20px;
        position: relative;
    }
    .product-showing-area .pictures
    {
        flex-direction: column;
    }
    .product-showing-area .pictures .preview
    {
        position: relative;
        width: 95%;
        right: 0%;
        margin: 10px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-showing-area .picture-slider
    {
        width:95%;
        margin: auto;
        height:100px;
        flex-direction: row;
    }
    .product-showing-area .picture-slider .otherimage
    {
        height:100%;
    }
    .product-details
    {
        width: 90%;
        margin:10px auto;
    }
    .mobileaddtocartbtn
    {
        display:block;
        width:40%;
    }
    .mobilebuynowbtn
    {
        display:block;
        width:40%;
    }
    .buyingsection
    {
        display:none;
    }
    .technical-details 
    {
        max-width: 650px;
        margin-left:auto;
        margin-right:auto;
    }
}


@media screen and (max-width:505px) {
    .technical-details 
    {
        min-width: 300px;
        max-width: 450px;
        margin-left:auto;
        margin-right:auto;
    }
}
