
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,400;1,300;1,900&display=swap');

/* Reseting all elements */
*
{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;

}
body
{
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
}
/* Creating header bar */
.header
{
    display: flex;
    max-width: 100%;
    line-height: 50px;
    background-image: linear-gradient(to right, #82ccdd,rgb(232, 70, 97));
    justify-content: space-around;
}
.header label
{
 
    color:white;
    font-size: 1.2rem;
    font-weight: 400;
}

.header .search-box
{
    display:flex;
    min-width: 70%;
    align-items: center;
    justify-content: center;
}

.header .search-box input
{
    height: 30px;
    width:100%;
    outline: none;
    margin-right:6px;
    border:none;
    border-radius: 5px;
    padding-left: 20px;
    color: gray;
}

.header .search-box .search-icon
{
    font-size: 1rem;
    color:white;
}
.header .search-box .search-icon :hover
{
    color: yellow;
}
.header .signin i
{
    font-size: 1rem;
    color:white;
}
.header .signin i:hover
{
    color: yellow;
}
.header .Whishlist i
{
    font-size: 1rem;
    color:white;
    cursor: pointer;
}
.header .Whishlist i:hover
{
    color: yellow;
}
.header .Addtocart i
{
    position: relative;
    font-size: 1rem;
    color:white;
    margin-right: 10px;
    cursor: pointer;
}
.header .Addtocart i:hover
{
    color: yellow;
}
.header .Addtocart::before
{
    position: absolute;
    content: attr(data-count);
    top: 4px;
    right:20px;
    width: 3px;
    height: 3px;
    background-color: white;
    padding: 4px;
    border-radius: 50px;
}
.header .Addtocart .counter
{
    position: absolute;
    font-size: 0.5rem;
    top: -15px;
    right:22px;
}
.header .bars
{
    display: none;
    color:white;
}

.header .bars:hover
{
    color:yellow;
}
/* Creating navigation menu */
.navigation
{
    display: flex;
    max-width:100%;
    line-height: 40px;
    background-color: #6a89cc;
}

.navigation ul{
    display: flex;
    list-style: none;
}
.navigation .bars{
    color: white;
    margin: 0 10px;
}
.navigation .bars a{
    padding: 5px;
    border:2px solid transparent;
}
.navigation .bars a:hover
{
    border:2px solid white;
}


.navigation nav ul li a{
    padding: 5px;
    color: white;
    margin: 0 5px;
    border:2px solid transparent;
    /* transition: all 0.1s ease-in; */
    box-sizing: content-box;
}
.navigation nav ul li a:hover{
    border:2px solid white;

}
/* Creating hamburger menu  */
.side-bars
{
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    min-width: 250px;
    background-color:ghostwhite;
    transition: 0.5s ease;
    z-index: 100000;
}
.side-bars .side-bars-container
{
    position: absolute;
    width: 100%;
    top:30px;
    left:0;
}
.side-containers{
    background-color: white;
    margin-top: 5px;
}
.side-bars .side-bars-container ul
{
    list-style: none;
}
.side-bars .side-bars-container ul li
{
    margin-top: 10px;
    padding: 5px;
    transition: all 0.2s linear;

}
.side-bars ul ul li a
{
    color: rgba(0, 0, 0, 0.6);
}
.side-bars .side-bars-container .sidemenu-heading
{
    font-size: 1rem;
    color: black;
    margin: 30px;
    font-weight: bold;
}

.side-bars .side-bars-container .sidemenu-items
{
    color: rgba(0, 0, 0, 0.6);
    margin: 30px;
}
.side-bars .side-bars-container ul li:hover
{
    background-color: rgb(217, 217, 232);
}
.side-bars .sidemenudrop-items
{
    margin: 60px 40px;
    border-radius: 3px;
}
.side-bars ul ul 
{
    transition: all 5s;
    display: none;
}

.side-bars ul li:hover > ul
{
    background-color: ghostwhite;
    display: block;
}
.side-bars .closebtn
{
    position: absolute;
    right: 0;
    top:0;
    margin: 10px;
    font-size: 1.2rem;
}
/* desiging product page */
.product{
    display: flex;
    width: 100%;
    height: auto;
    margin: 10px 0px ; 
    background-color: white;
    position: relative;
}
.product-showing-area
{ 
    width: 50%;
    height: 530px;
    position: sticky;
    top:10px;
}
/* designing product photos */
.product-showing-area .pictures
{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin: 10px auto;
}
.product-showing-area .pictures .preview
{
    position: absolute;
    right:10px;
    width:75%;
    height: 100%;
}
.product-showing-area .pictures .preview img
{
    width:100%;
    height:100%;
    object-fit: contain;
    object-position: center;
}
.product-showing-area .picture-slider
{
    position: relative;
    display: flex;
    flex-direction: column;
    width:20%;
    height: 100%;
}
.product-showing-area .picture-slider .otherimage
{
    margin: 5px;
    height:calc(80%/4);
    width: 100%;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
.picture-slider img
{
    object-fit: contain;
    height:100%;
    width: 100%;
}
.product-details
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    margin-left: 20px;
    margin-right: 40px;

}
.product-title
{
    font-size: 1.8rem;
    font-weight: bold;
}
.product-rating
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
}
.product-price
{
    width:250px;
    height:100px;
    margin-top: 5px;
}

.product-price table
{
    border-collapse: collapse;
    margin-left: 5px;
}
.product-price table td:nth-child(odd)
{
     padding: 0px 2px;
}
.rating-stars
{ 
    color: orange;
}
.free-delivery
{
    color: #6a89cc;
}
.product-info
{
    width:240px;
    font-size: 0.9rem;
    text-align: left;
    margin: 10px 0;
}
.topic
{
    font-weight: bold;
}
.product-details h3{
    margin-top: 5px;
    font-size: medium;
}
.product-details ul
{
    margin-top: 5px;
    list-style-position: inside;
    width: 100%;
    font-size: 0.9rem;
}
.mobileaddtocartbtn
{
    display: none;
    width:95%;
    padding:8px;
    border-radius: 20px;
    margin:5px auto;
    background: linear-gradient(to right,rgb(255, 111, 0),yellow);
    font-weight: lighter;
}
.mobilebuynowbtn
{
    display: none;
    width:95%;
    padding:8px;
    border-radius: 20px;
    margin:5px auto;
    background: linear-gradient(to right,rgb(43, 255, 0),rgb(0, 153, 255));
    font-weight: lighter;
}
.buyingsection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width:15%;
    height:180px;
    right:10px;
    top:30%;
    border: 1px solid #ddd;
    border-radius: 3px;
    /* position:relative ; */
}
.selectquantity
{
    position: absolute;
    top:45px;  
}
.Addtocartbtn
{
    position: absolute;
    bottom:45px;
    width:95%;
    padding:6px;
    border-radius: 20px;
    margin:5px auto;
    background: linear-gradient(to right,rgb(255, 111, 0),yellow);
    font-weight: lighter;
}
.Addtocartbtn:hover
{
    background: linear-gradient(to right,yellow,rgb(255, 111, 0));
}

.buynowbtn
{
    position: absolute;
    bottom:5px;
    width:95%;
    padding:6px;
    border-radius: 20px;
    margin:5px auto;
    background: linear-gradient(to right,rgb(43, 255, 0),rgb(0, 153, 255));
    font-weight: lighter;
}
.buynowbtn:hover
{
    background: linear-gradient(to right,rgb(0, 153, 255),rgb(43, 255, 0));
}
.technical-details 
{
    text-align: center;
    max-width: 700px;
    margin-top: 30px;
    margin-left: 20px;
}
.technical-details h3
{
    border-bottom: 1px solid #ddd;
    margin:10px 0;
}
.technical-details table
{
    border-collapse: collapse;
}
.technical-details table tr{
    border-bottom: 1px solid #ddd;
}
.technical-details table td
{
    padding: 5px;
}
.technical-details table td:nth-child(odd)
{
    background-color: rgba(128, 128, 128, 0.515);
}
@media screen and (max-width:1260px)
{
    .header .Addtocart::before
    {
        right: 13px;
    } 

    .header .Addtocart .counter
    {
        right:16px;
    }
}

@media screen and (max-width:950px)
{
    .header .Addtocart::before
    {
        right: 9px;
    } 

    .header .Addtocart .counter
    {
        right:11px;
    }
}
@media screen and (max-width:800px)
{
    .header .Addtocart::before
    {
        right: 7px;
    } 

    .header .Addtocart .counter
    {
        right:9px;
    }
}

@media screen and (max-width:768px)
{
    .product
    {
        flex-direction: column;
    }
    .product-showing-area
    {
        width:100%;
        height: auto;
        margin-bottom: 20px;
        position: relative;
    }
    .product-showing-area .pictures
    {
        flex-direction: column;
    }
    .product-showing-area .pictures .preview
    {
        position: relative;
        width: 95%;
        right: 0%;
        margin: 10px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-showing-area .picture-slider
    {
        width:95%;
        margin: auto;
        height:100px;
        flex-direction: row;
    }
    .product-showing-area .picture-slider .otherimage
    {
        height:100%;
    }
    .product-details
    {
        width: 90%;
        margin:10px auto;
    }
    .mobileaddtocartbtn
    {
        display:block;
        width:40%;
    }
    .mobilebuynowbtn
    {
        display:block;
        width:40%;
    }
    .buyingsection
    {
        display:none;
    }
    .technical-details 
    {
        max-width: 650px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (max-width:750px) {
    .header .search-box
    {
        min-width: 60%;
        
    }
    .header .bars
    {
        display: block;
    }
    .header .Addtocart::before
    {
        right: 11px;
    } 

    .header .Addtocart .counter
    {
        right:13px;
    }
    .navigation 
    {
        display: none;
    }
    
    
}
@media screen and (max-width:700px) {
    .header label
    {
        margin-left: 10px;
        font-size: 1.2rem;
    }
    .header .search-box
    {
        min-width: 50%;
    }
    
    .header .bars
    {
        display: block;
    }
    .header .Addtocart ::before
    {
        right: 0px;
    } 

    .header .Addtocart .counter
    {
        right:13px;
    }
    .navigation
    {
        display: none;
    }
    .navigation .bars
    {
        display: none;
    }
}

@media screen and (max-width:680px) {
    .header .Addtocart::before
    {
        right: 8px;
    } 

    .header .Addtocart .counter
    {
        right:10px;
    }

}

@media screen and (max-width:500px) {
    
    .header{
        position: relative;
        height: 90px;
        justify-content: space-around;
        font-size: 1.2rem;
    }
    .header label
    {
        margin-left: 2px;
        font-size: 1.2rem;
    }
    .header .search-box
    {
        position: absolute;
        width:94%;
        height: 20px;
        top:50px;
        margin: 15px 10px;
        
    }
    .header .search-box input
    {
        margin-bottom: 20px;
    }
    .header .search-box .search-icon
    {
        margin-bottom: 20px;
    }
    .header .bars
    {
        display: block;
    }
        .navigation .bars
    {
        display: none;
    }
    .header .Addtocart::before
    {
        right: 16px;
    } 

    .header .Addtocart .counter
    {
        right:19px;
    }
    .technical-details 
    {
        min-width: 300px;
        max-width: 450px;
        margin-left:auto;
        margin-right:auto;
    }
}
@media screen and (max-width:315px) {
    
    .header{
        position: relative;
        height: 90px;
        /* justify-content: space-around; */
        font-size: 1.4rem;
    }
    .header label
    {
        margin-left: 4px;
        font-size: 1.2rem;
    }
    .header .search-box
    {
        position: absolute;
        width:94%;
        height: 20px;
        top:50px;
        margin: 15px 10px;
        
    }
    .header .search-box input
    {
        margin-bottom: 20px;
    }
    .header .search-box .search-icon
    {
        margin-bottom: 20px;
    }
    .header .bars
    {
        display: block;
    }
        .navigation .bars
    {
        display: none;
    }
    .header .Addtocart::before
    {
        right: 8px;
    } 

    .header .Addtocart .counter
    {
        right:11px;
    }
}