*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 64, 247);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container
{
position: relative;
width: 800px;
height:500px;
margin: 20px;
}
.bluebox
{
    position: absolute;
    top: 40px;
    width: 100%;
    height:420px;
    background-color: rgba(255,255,255, 0.15);
    display: flex; 
}

.bluebox .box
{
    position:relative;
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bluebox .box  h2
{
    font-size: 1.2rem;
    color:seashell
}

.bluebox .box button
{
    border: none;
    margin-top: 2px;
    padding:5px;
    border-radius: 5px;
    background-color: wheat;

}
.formbox
{
    position: absolute;
    top:0;
    left: 0;
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:white;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.formbox.active
{
    left:50%;
}

.formbox .form
{
    position:absolute;
    left: 0%;
    width:100%;
    padding:50px;
    transition: 0s;
}
.formbox .form a
{
    color: black;
    text-decoration: none;
    margin-top: 15px;
}

.formbox .signinform
{
    transition-delay: 0.25s;
    justify-content: center;
}
.formbox.active .signinform
{
    left:-100%;
    transition-delay: 0s;
}
.formbox .signupform
{
    left:100%
}

.formbox .signupform
{
    transition-delay: 0.25s;
}
.formbox.active .signupform
{
    left:0%;
}
.formbox.active button 
{
    background-color: red;
}
.formbox .form form
{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formbox .inputbox
{
    position: relative;
    margin:15px;
    text-align: center;
}
.formbox .form h3
{
    font-size: 1.2 rem;
    text-align: center;
}

.formbox .form input{
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid silver;
    outline: none; 
    padding:2px;
    font-size: 1rem;
}

.formbox .inputbox label
{
    position: absolute;
    top:0;
    left:0px;
    padding: 10px 0;
    transition: 0.3s ease-in-out;
    
}

.formbox .inputbox input:focus ~ label
{
    top:-15px;
}

.formbox button{
    margin-top: 15px;
    width:200px;
    padding:5px;
    cursor: pointer;
    background-color:royalblue;
    border:none;
    border-radius: 20px;
    font-weight: 20px;
    color: white;

}

.formbox button:hover
{
    color:royalblue;
    background-color: white;
    border: 2px solid royalblue;
}

.formbox.active button:hover
{
    background-color: white;
    color: red;
    border:2px solid red;
}
@media screen and (max-width:520px)
{
.container
 {
    position: relative;
    max-width: 400px;
    height:650px;
 }
 .container .bluebox
 {
     top:0;
     height: 100%;
 }
 .formbox
 {
     width: 100%;
     height: 500px;
 }
 .bluebox .box
 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
 }
 .box.signin
 {
     position: absolute;
     top:0;
 }
 .formbox.active
 {
     left:0;
     top:150px;
 }
}