@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
*
{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;

}
/* Creating header bar */
.header
{
    display: flex;
    position: sticky;
    top:0%;
    width: 100%;
    line-height: 50px;
    background-image: linear-gradient( 45deg,#82ccdd,rgb(232, 70, 97));
    justify-content: space-around;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
}
.header label
{
 
    color:white;
    font-size: 1.2rem;
    font-weight: 400;
}

.header .search-box
{
    display:flex;
    min-width: 70%;
    align-items: center;
    justify-content: center;
}

.header .search-box input
{
    height: 30px;
    width:100%;
    outline: none;
    margin-right:6px;
    border:none;
    border-radius: 5px;
    padding-left: 20px;
    color: gray;
}

.header .search-box .search-icon
{
    font-size: 1rem;
    color:white;
}
.header .search-box .search-icon :hover
{
    color: yellow;
}
.header .signin i
{
    font-size: 1rem;
    color:white;
}
.header .signin i:hover
{
    color: yellow;
}
.header .Whishlist i
{
    font-size: 1rem;
    color:white;
    cursor: pointer;
}
.header .Whishlist i:hover
{
    color: yellow;
}
.header .Addtocart
{
    position: relative;
}
.header .Addtocart i
{
    position: relative;
    font-size: 1rem;
    color:white;
    margin-right: 10px;
    cursor: pointer;
}
.header .Addtocart i:hover
{
    color: yellow;
}
.header .Addtocart::before
{
    position: absolute;
    content: attr(data-count);
    top: 3px;
    right:0px;
    width: 4px;
    height: 4px;
    background-color: white;
    padding: 4px;
    border-radius: 50px;
}
.header .Addtocart .counter
{
    position: absolute;
    font-size: 0.5rem;
    top: -15px;
    right:3px;
}
.addedtocart
{
    position: absolute;
    opacity:0;
    bottom: 50px;
    right: 0px;
    width: 120px;
    background-color: greenyellow;
    line-height: 18px;
    color:white;
    transition: all 0.5s linear;
}
.Whishlist
{
    position: relative;
}
.header .Whishlist .wishlistcounter
{
    position: absolute;
    font-size: 0.5rem;
    top: -15px;
    right:-5px;
}
.header .Whishlist::before
{
    position: absolute;
    content: attr(data-count);
    top: 3px;
    right:-7px;
    width: 4px;
    height: 4px;
    background-color: white;
    padding: 4px;
    border-radius: 50px;
}

.addedtowishlist
{
    position: absolute;
    bottom: 50px;
    opacity: 0;
    right: -40px;
    width: 150px;
    background-color: greenyellow;
    line-height: 18px;
    color:white;
    transition: all 0.5s linear;
    z-index: -1000;
}
.header .bars
{
    display: none;
    color:white;
}

.header .bars:hover
{
    color:yellow;
}
/* Creating navigation menu */
.navigation
{
    display: flex;
    position: sticky;
    top: 50px;
    width:100%;
    line-height: 40px;
    z-index: 10;
    background-color: #6a89cc;
}

.navigation ul{
    display: flex;
    list-style: none;
}
.navigation .bars{
    color: white;
    margin: 0 10px;
    cursor: pointer;
}
.navigation .bars a{
    padding: 5px;
    border:2px solid transparent;
}
.navigation .bars a:hover
{
    border:2px solid white;

}

.navigation nav ul li a{
    padding: 5px;
    color: white;
    margin: 0 5px;
    width:10px;
    border:2px solid transparent;
    box-sizing: border-box;
    text-decoration:none;
}
.navigation nav ul li a:hover{
    border:2px solid white;
}
/* Creating hamburger menu  */
.side-bars
{
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color:ghostwhite;
    transition: 0.5s ease;
    z-index: 100000;
}
.side-bars .side-bars-container
{
    position: absolute;
    width: 100%;
    top:30px;
    left:0;
}
.side-containers{
    background-color: white;
    margin-top: 5px;
}
.side-bars .side-bars-container ul
{
    list-style: none;
}
.side-bars .side-bars-container ul li
{
    margin-top: 10px;
    padding: 5px;
    transition: all 0.2s linear;

}
.side-bars ul ul li a
{
    color: rgba(0, 0, 0, 0.6);
}
.side-bars .side-bars-container .sidemenu-heading
{
    font-size: 1rem;
    color: black;
    margin: 30px;
    font-weight: bold;
}

.side-bars .side-bars-container .sidemenu-items
{
    color: rgba(0, 0, 0, 0.6);
    margin: 30px;
}
.side-bars .side-bars-container ul li:hover
{
    background-color: rgb(217, 217, 232);
}
.side-bars .sidemenudrop-items
{
    margin: 60px 40px;
    border-radius: 3px;
}
.side-bars ul ul 
{
    transition: all 5s;
    display: none;
}

.side-bars ul li:hover > ul
{
    background-color: ghostwhite;
    display: block;
}
.side-bars .closebtn
{
    position: absolute;
    right: 0;
    top:0;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width:900px) 
{
    .header .search-box
    {
        min-width: 70%;      
    }
    
}
@media screen and (max-width:840px) 
{
    .header .search-box
    {
        min-width: 60%;      
    }
    
}
@media screen and (max-width:768px) {
    .header .bars
    {
        display: block;
    }
    .navigation 
    {
        display: none;
    }
}


@media screen and (max-width:700px) {
    .header label
    {
        margin-left: 10px;
        font-size: 1.2rem;
    }
    .header .search-box
    {
        min-width: 50%;
    }
    
    .header .bars
    {
        display: block;
    }

    .navigation
    {
        display: none;
    }
    .navigation .bars
    {
        display: none;
    }
}

@media screen and (max-width:505px) {
    
    .header{
        position: sticky;
        height: 90px;
        justify-content: space-around;
        font-size: 1.2rem;
        z-index: 50;
    }
    .header label
    {
        margin-left: 2px;
        font-size: 1.2rem;
    }
    .header .search-box
    {
        position: absolute;
        width:94%;
        height: 20px;
        top:50px;
        margin: 15px 10px;
        
    }
    .header .search-box input
    {
        margin-bottom: 20px;
    }
    .header .search-box .search-icon
    {
        margin-bottom: 20px;
    }
    .header .bars
    {
        display: block;
    }
        .navigation .bars
    {
        display: none;
    }

    .addedtocart{
        bottom: 35px;
        font-size: 0.9rem;
    }
    .home
    {
        width: 100%;
        font-size: 0.8rem;
    }
    .addedtowishlist
    {
        bottom: 35px;
        font-size: smaller;
    }
}
@media screen and (max-width:460px){
    
    .home
    {
        width: 100%;
        font-size: 0.8rem;
    }
}
@media screen and (max-width:315px) {
    
    .header{
        position: sticky;
        height: 70px;
        /* justify-content: space-around; */
        font-size: 1.2rem;
        z-index: 50;
    }
    .header label
    {
        margin-left: 4px;
        font-size: 1.2rem;
    }
    .header .search-box
    {
        position: absolute;
        width:94%;
        height: 20px;
        top:40px;
        margin: 10px 10px;
        
    }
    .header .search-box input
    {
        margin-bottom: 20px;
    }
    .header .search-box .search-icon
    {
        margin-bottom: 20px;
    }
    .header .bars
    {
        display: block;
    }
        .navigation .bars
    {
        display: none;
     }
}